$accent-blue: rgb(66, 148, 255);
$accent-green: rgb(51, 194, 70);

%positioning {
    display: flex;
    align-items: center;
}

%buttons {
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9rem;
}

div.container {
    height: 100%;
    width: 30%;
    background-color: whitesmoke;
    border-right: 1px solid grey;
    padding: 1.5rem;

    div.title {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        color: slategray;
    }
}

div.setting {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    div.header {
        @extend %positioning;
        gap: 0.2rem;

        p.name {
            font-size: 0.8rem;
        }
    }

    input {
        width: 100%;
    }
}

div.options {
    @extend %positioning;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 0.5rem;

    button.option {
        font-size: 0.7rem;
        width: 4.0rem;
        height: 1.5rem;
    }

    button.selected {
        background-color: $accent-blue;
        border: none;
        color: white;
        border-radius: 2.5px;
    }
}

select.algorithms {
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

div.buttons {
    display: flex;
    gap: 0.5rem;
    width: 100%;

    button.refresh, button.shuffle {
        @extend %buttons;
        background-color: lightgray;
        padding: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
    }
    
    button.sort {
        @extend %buttons;
        padding: 0.2rem 0.7rem;
        background-color: $accent-green;
        width: 50%;
    }
}
